<div style="position:fixed; top:0px; left:0px; height:100%; width:100%;">


    
</div>

<main 
class="max-w-screen-lg text-zinc-300 mx-auto backdrop-brightness-50 min-h-screen">
    <h1 class="text-balance text-6xl">La vida de los animales</h1>
    <section>
    <article>
        <h2 class="text-4xl">Un encuentro espeluznante</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic laboriosam reprehenderit quidem sint enim similique voluptate id quos aliquid dolor voluptas totam voluptatibus labore, soluta itaque. Consectetur, similique facilis? Rerum.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus nam vero dicta. Voluptas dolor eos quisquam laborum accusamus aspernatur suscipit quibusdam facere molestias a possimus dolore fugiat nemo, praesentium ea!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic laboriosam reprehenderit quidem sint enim similique voluptate id quos aliquid dolor voluptas totam voluptatibus labore, soluta itaque. Consectetur, similique facilis? Rerum.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus nam vero dicta. Voluptas dolor eos quisquam laborum accusamus aspernatur suscipit quibusdam facere molestias a possimus dolore fugiat nemo, praesentium ea!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic laboriosam reprehenderit quidem sint enim similique voluptate id quos aliquid dolor voluptas totam voluptatibus labore, soluta itaque. Consectetur, similique facilis? Rerum.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus nam vero dicta. Voluptas dolor eos quisquam laborum accusamus aspernatur suscipit quibusdam facere molestias a possimus dolore fugiat nemo, praesentium ea!</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic laboriosam reprehenderit quidem sint enim similique voluptate id quos aliquid dolor voluptas totam voluptatibus labore, soluta itaque. Consectetur, similique facilis? Rerum.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus nam vero dicta. Voluptas dolor eos quisquam laborum accusamus aspernatur suscipit quibusdam facere molestias a possimus dolore fugiat nemo, praesentium ea!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic laboriosam reprehenderit quidem sint enim similique voluptate id quos aliquid dolor voluptas totam voluptatibus labore, soluta itaque. Consectetur, similique facilis? Rerum.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus nam vero dicta. Voluptas dolor eos quisquam laborum accusamus aspernatur suscipit quibusdam facere molestias a possimus dolore fugiat nemo, praesentium ea!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic laboriosam reprehenderit quidem sint enim similique voluptate id quos aliquid dolor voluptas totam voluptatibus labore, soluta itaque. Consectetur, similique facilis? Rerum.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus nam vero dicta. Voluptas dolor eos quisquam laborum accusamus aspernatur suscipit quibusdam facere molestias a possimus dolore fugiat nemo, praesentium ea!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic laboriosam reprehenderit quidem sint enim similique voluptate id quos aliquid dolor voluptas totam voluptatibus labore, soluta itaque. Consectetur, similique facilis? Rerum.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus nam vero dicta. Voluptas dolor eos quisquam laborum accusamus aspernatur suscipit quibusdam facere molestias a possimus dolore fugiat nemo, praesentium ea!</p>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic laboriosam reprehenderit quidem sint enim similique voluptate id quos aliquid dolor voluptas totam voluptatibus labore, soluta itaque. Consectetur, similique facilis? Rerum.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus nam vero dicta. Voluptas dolor eos quisquam laborum accusamus aspernatur suscipit quibusdam facere molestias a possimus dolore fugiat nemo, praesentium ea!</p>
    </article>
</section>
</main>