---
import IconCopy from "../components/IconCopy.astro"
import IconPreview from "../components/IconPreview.astro"
---

<article content-to-copy class="relative min-h-72 w-full overflow-hidden shadow-xl rounded-md">
    <slot />
    <footer class="absolute bottom-0 right-0 gap-1 z-10">
        <button button-preview class="shadow-xl rounded-md hover:cursor-pointer p-1 backdrop-brightness-50">
            <IconPreview  class="text-slate-200"/>
        </button>
        <button button-copy class="shadow-xl rounded-md mr-1 hover:cursor-pointer p-1 backdrop-brightness-50">
            <IconCopy  class="text-slate-200"/>
        </button>
    </footer>
</article>
<script>
  const preview = document.querySelectorAll('[button-preview]');

  const copy = document.querySelectorAll('[button-copy]');
  
  const replace = document.querySelectorAll('[div-replace]');
  preview.forEach((button) => {
      button.addEventListener('click', () => {
        const contentToCopy = document.querySelectorAll('[content-to-copy]');
        console.log("hello")
        console.log(replace[0])
        console.log(contentToCopy[0], "acaaa!!!")
        replace[0].innerHTML = `<div class="absolute top-0 z-[-2] h-screen w-screen bg-[#000000] bg-[radial-gradient(#ffffff33_1px,#00091d_1px)] bg-[size:20px_20px]"></div>`
        console.log(replace[0])

    });
  });

copy.forEach((button) => {
  button.addEventListener('click', () => {
      console.log("hello")
  });
});

replace.forEach((button) => {
  button.addEventListener('click', () => {
      console.log("hello")
  });
});

</script>