---
import IconCopy from "../components/IconCopy.astro";
import IconPreview from "../components/IconPreview.astro";

const { backgroundTW, backgroundCSS } = Astro.props;
---

<article class="relative min-h-72 w-full overflow-hidden rounded-md">
  <Fragment set:html={backgroundTW} />
  <footer class="absolute right-0 flex gap-1 z-10 mr-1 mt-1">
    <button
      button-preview
      class="rounded-md hover:cursor-pointer hover:scale-110 p-2 backdrop-brightness-50"
      value={backgroundTW}
    >
      <IconPreview class="text-slate-200" />
    </button>
    <button
      button-copy-to-css
      value={backgroundCSS}
      class="rounded-md hover:cursor-pointer hover:scale-110 p-2 backdrop-brightness-50"
    >
      <IconCopy class="text-slate-200" />
      <p class="text-yellow-300 font-semibold absolute right-0 top-0">CSS</p>
    </button>
    <button
      button-copy-to-tailwind
      value={backgroundTW}
      class="rounded-md hover:cursor-pointer hover:scale-110 p-2 backdrop-brightness-50"
    >
      <IconCopy class="text-slate-200" />
      <p class="text-blue-300 font-semibold absolute right-0 top-0">TW</p>
    </button>
  </footer>
</article>
<script>
  const preview = document.querySelectorAll("[button-preview]");

  const copyCSS = document.querySelectorAll("[button-copy-to-css]");

  const copyTW = document.querySelectorAll("[button-copy-to-tailwind]");

  const replace = document.querySelector("[background-to-replace]");

  preview.forEach((button: any) => {
    button.addEventListener("click", () => {
      if (replace) {
        replace.innerHTML = button.value;
      }
    });
  });
  function copyToClipboard(element: any) {
    element.addEventListener("click", () => {
      navigator.clipboard.writeText(element.value);
    });
  }
  copyCSS.forEach(copyToClipboard);
  copyTW.forEach(copyToClipboard);
</script>
