---
interface Props {
	title: string;
}
import "@fontsource-variable/outfit";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
<link rel="canonical" href="https://backgy.com/" />
		<meta charset="UTF-8" />
		<meta name="description" content="Gradients, colors, styles all in one place, you just have to choose the one you like the most, copy and paste it. Enjoy many backgrounds for your projects, pages, and anything you want all in Backgy." />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="title" content="Backgy - Backgrounds made for your website using Tailwind and CSS just copy and paste ready to use" />
<meta name="description" content="Gradients, colors, styles all in one place, you just have to choose the one you like the most, copy and paste it. Enjoy many backgrounds for your projects, pages, and anything you want all in Backgy." />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://backgy.com/" />
<meta property="og:title" content="Backgy - Backgrounds made for your website using Tailwind and CSS just copy and paste ready to use" />
<meta property="og:description" content="Gradients, colors, styles all in one place, you just have to choose the one you like the most, copy and paste it. Enjoy many backgrounds for your projects, pages, and anything you want all in Backgy." />
<meta property="og:image" content="https://res.cloudinary.com/dnf60zbjm/image/upload/backgy_og_image.jpg" />
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content="https://backgy.com/" />
<meta property="twitter:title" content="Backgy - Backgrounds made for your website using Tailwind and CSS just copy and paste ready to use" />
<meta property="twitter:description" content="Gradients, colors, styles all in one place, you just have to choose the one you like the most, copy and paste it. Enjoy many backgrounds for your projects, pages, and anything you want all in Backgy." />
<meta property="twitter:image" content="https://res.cloudinary.com/dnf60zbjm/image/upload/backgy_og_image.jpg" />

		<title>{title}</title>
	</head>
	<body>
		<div background-to-replace>
			<div style="width:100%; height:100%; position:fixed; z-index:-9999999999; background-color:#0b0d13;">
				<div style="
			position: absolute;
			bottom: 0;
			right: -10%;
			top: -10%;
			height: 500px;
			width: 500px;
			border-radius: 50%;
			background: radial-gradient(
			  circle farthest-side,
			  rgba(0, 200, 255, 0.15),
			  rgba(255, 255, 255, 0)
			);"></div>
			<div style="position: absolute;
			bottom: 0%;
			left: -10%;
			height: 500px;
			width: 500px;
			border-radius: 50%;
			background: radial-gradient(
			  circle farthest-side,
			  rgba(0, 255, 242, 0.15),
			  rgba(255, 255, 255, 0)
			  );"></div>
			</div>
		</div>
		<slot />
	</body>
</html>
<style is:global>
	body {
		font-family: "Outfit Variable", sans-serif;
	}
		.bg-green-600 {
    --tw-bg-opacity: 1;
    background-color: rgb(22 163 74 / var(--tw-bg-opacity));
}
</style>
