---
interface Props {
	title: string;
}
import "@fontsource-variable/outfit";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
	</head>
	<body>
		<div div-replace >
			<div class="absolute inset-0 -z-10 h-full w-full items-center px-5 py-24 [background:radial-gradient(125%_125%_at_50%_10%,#000_40%,#63e_100%)]"></div>
		</div>
		<slot />
	</body>
</html>
<style is:global>
	body {
		font-family: "Outfit Variable", sans-serif;
	}
</style>
